<html>
<head>
	<title>Result</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container">
		<h3>Submitted Information</h3>
	    <h4>Name: <%= info.name %></h4>
	    <h4>Location: <%= info.location %></h4>
	    <h4>Language: <%= info.language %></h4>
	    <h4>Comment: <%= info.comment %></h4>
	    <form role="form" action="/" method="get">
	    	<button type="submit" class="btn btn-info pull-right">Go Back</button>
		</form>
	</div>
</body>
</html>